<!DOCTYPE html>
<html>
<head>
    <title>PSRES MicroGrid: @ViewBag.Title</title>
    <link href="~/CSS/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Welcome To PSRES Lab. MicroGrid</h1>
        <menu>
            <ul>
                <li><a href="/">HomePage</a></li>
                <li><a href="/main/login">Login</a></li>
                <li><a href="/main/about">About</a></li>
                <li><a href="/data/meters">Meters</a></li>
                <li><a href="/data/sensors">Sensors</a></li>
            </ul>
        </menu>

    </header>
    <section>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </section>

    <footer>
        <div>Ferdowsi University of Mashhad</div>
        <div>Faculty of Engineering</div>
        <div>Power System Studies & Restructuring Lab. </div>
        <img src="~/img/Shared/Capture.PNG" />
    </footer>


  

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/sensorform.js"></script>
</body>
</html>