<!DOCTYPE html>
<html>
<head>
    <title>PSRES MicroGrid: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/site1.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav class="navbar navbar-dark navbar-expand-sm" style="background-color:darkred;">
            <div class="container">
                <a class="navbar-brand" asp-controller="main" asp-action="Index">PSRES Lab. MicroGrid</a>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" asp-controller="main" asp-action="Index">HomePage</a>
                    <a class="nav-item nav-link" asp-controller="main" asp-action="Login">Login</a>
                    <a class="nav-item nav-link" asp-controller="main" asp-action="About">About</a>
                    <a class="nav-item nav-link" asp-controller="data" asp-action="Meters">Meters</a>
                    <a class="nav-item nav-link" asp-controller="data" asp-action="Sensors">Sensors</a>
                </div>
            </div>
        </nav>
        

    </header>
    <section class="container">
        <h1 class="text-center">@ViewBag.Title</h1>
        @RenderBody()
    </section>

    <footer class="container-fluid text-center" style="background-color:aliceblue">

        <div class="row">

            <div class="footeritem col-3 d-inline-block">
                    <a href="http://um.ac.ir"> <img src="~/img/Shared/Fum.png" class="img-fluid" alt="Ferdowsi University of Mashhad"/></a>
            </div>

            <div class="footeritem col-3 d-inline-block">
                <a href="http://eng.um.ac.ir"><img src="~/img/Shared/english-logo.png" class="img-fluid" alt="Faculty of Engineering"/></a>
            </div>

            <div class="footeritem col-3 d-inline-block">
                <img src="~/img/Shared/Capture.PNG" class="img-fluid" alt="Power System Studies & Restructuring Lab."/>
            </div>

            <div class="footeritem col-3  d-inline-block">
                <a href="http://sircotech.com"><img src="~/img/Shared/sircotech.png" class="img-fluid" alt="Sunflower Industrial Research Company" /></a>
            </div>
        </div>
    </footer>




    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/sensorform.js"></script>

</body>
</html>