<!DOCTYPE html>
<html>
<head>
    <title>PSRES MicroGrid: @ViewBag.Title</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/site1.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar">
        <header class=" container-fluid">
            <div class="navbar-brand">PSRES Lab. MicroGrid</div>
            <ul class="nav navbar-nav">
                <li><a asp-controller="main" asp-action="Index">HomePage</a></li>
                <li><a asp-controller="main" asp-action="Login">Login</a></li>
                <li><a asp-controller="main" asp-action="About">About</a></li>
                <li><a asp-controller="data" asp-action="Meters">Meters</a></li>
                <li><a asp-controller="data" asp-action="Sensors">Sensors</a></li>
            </ul>
        </header>
    </div>
    <section class="container">
        <h1 class="text-center">@ViewBag.Title</h1>
        @RenderBody()
    </section>

    <footer>

        <div class="footeritem">
            <div class="text-center">
                <a href="http://um.ac.ir"> Ferdowsi University of Mashhad </a>              
            </div>
            <img src="~/img/Shared/Fum.png" class="footerimage"/>
        </div>

        <div class="footeritem">
            <div class="text-center"><a href="http://eng.um.ac.ir">Faculty of Engineering</a></div>
            <img src="~/img/Shared/english-logo.png" class="footerimage"/>
        </div>
        <div class="footeritem ">
            <div class="text-center">Power System Studies & Restructuring Lab. </div>
            <img src="~/img/Shared/Capture.PNG" class="footerimage"/>
        </div>

        <div class="footeritem">
            <div class="text-center"><a href="http://sircotech.com">Sunflower Industrial Research Company</a></div>
            <img src="~/img/Shared/sircotech.png" class="footerimage"/>
        </div>
    </footer>




    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/sensorform.js"></script>

</body>
</html>