@model List<PSRESLogic.Meter>
@{ 
    ViewBag.Title = "Meters";
}

<div class="col-6 offset-3">
        <form method="post">
            <div class="form-group">
                <label>Select Meter:</label>
                <select class="form-control">
                    @foreach (var meter in Model)
                    {
                        <option value="1"> @meter.Name </option>

                    }


                </select>
            </div>
            <input class="form-group" type="submit" name="getData" value="get Data" />
        </form>
</div>