@model ViewMeter
@{ 
    ViewBag.Title = "Meters";
}

<div class="col-6 offset-3">
        <form method="post">
            <div class="form-group">
                <label>Select Meter:</label>
                <select class="form-control" asp-for="@Model.Value">
                    @foreach (var meter in Model.MeterNames)
                    {
                        <option value="@meter"> @meter </option>

                    }


                </select>
            </div>
            <input class="form-group" type="submit" name="getData" value="get Data" />
        </form>
</div>