@{
    ViewBag.Title = "Sensor Form";
}


    <div id="sensorData">
        <ul>
            <li>Temperature:</li>
            <li> Light:</li>
            <li>Distance:</li>
            <li>Presence:</li>
        </ul>
    </div>

    <button id="getButton" class="btn"> Get data</button>


