
.footeritem {
    /*border:2px solid white;*/
}

.footeritem > img {

    width: auto;
    max-height: 150px;
    margin: 2px;
    vertical-align:middle;
}

.footeritem > a > img {
    width: auto;
    max-height:150px;
    margin: 2px;
    vertical-align:middle;
}

#lampplan {
    background-image: url('../img/plans/plancheragh.png');
    height:600px;
    background-size:contain;
    background-repeat:no-repeat;
}

#lampplan > label{
    position:absolute;
}

        

    